@font-face {
    font-family: "inter";
    src: url('../fonts/inter/Inter-Medium.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "inter";
    src: url('../fonts/inter/Inter-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "inter";
    src: url('../fonts/inter/Inter-Bold.ttf');
    font-weight: 900;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "inter" , sans-serif ;
    scroll-behavior: smooth;

    &::selection{
        background-color: #B88B1A;
        color: #fff; 
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #B88B1A;
    }
    
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #2A2459, #B88B1A); 
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg, #B88B1A, #2A2459); 
    }
}

body {
  background-color: #f6f6f6;
}

.overflowNone{
    overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.owl-theme .owl-dots .owl-dot span{
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #FFD371;
    opacity: .5;
    transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
    opacity: 1;
}

.overflowNone{
    overflow: hidden;
}